@import "./fonts";
@import "./variables";

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Gotham Bold';
}

.layout {
    width: @layout-width;
    margin: 0 auto;

    .navigation {
        width: @navigation-width;
        background: @navigation-background-color;
        float: left;
    }

    .content {
        width: @layout-width - @navigation-width;
        float: left;
        padding-left: 25px;
        box-sizing: border-box;
    }
}
